absl-py==2.1.0
astunparse==1.6.3
audioread==3.0.1
bcrypt==4.0.1
boto3==1.34.66
botocore==1.34.66
cachetools==5.3.3
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
contourpy==1.1.0
cryptography==38.0.3
cycler==0.12.1
decorator==5.1.1
ffmpeg==1.4
ffmpeg-python==0.2.0
flatbuffers==24.3.25
fonttools==4.52.4
future==0.18.2
gast==0.5.4
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.1
grpcio==1.64.1
h5py==3.11.0
httplib2==0.22.0
idna==3.7
jmespath==1.0.1
joblib==1.4.2
keras==3.3.3
kiwisolver==1.4.5
lazy_loader==0.3
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.42.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
mdurl==0.1.2
ml-dtypes==0.3.2
msgpack==1.0.8
namex==0.0.8
numba==0.59.1
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
optree==0.11.0
packaging==23.1
paramiko==3.3.1
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
pooch==1.8.1
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.21
pycryptodome==3.19.0
Pygments==2.18.0
pygsheets==2.0.6
PyNaCl==1.5.0
pyparsing==3.0.9
pyshine==0.0.9
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-oauthlib==2.0.0
resampy==0.4.2
rich==13.7.1
rsa==4.9
s3transfer==0.10.1
scikit-learn==1.5.0
scipy==1.13.1
setuptools==65.5.0
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
tqdm==4.66.4
typing-extensions==4.7.1
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
